.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002964;

    .login {
        width: 500px;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
    }
}

.btn-primary{
    margin-bottom: 12px;
}

.btn-secondary{
    margin-bottom: 12px;
    margin-left: 12px;
}

.btn-success{
    margin-top: 12px;
}


.registerLogin{
    margin-left: 10px;
}