.imgItem {
    object-fit: contain;
    max-width: 50%;
    height: auto;
    
}

.productCardInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 16px;
    border-radius: 6px;
}

.productCardDetail{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    width: 30%;
}

.itemDescription{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}
