.imgItem {
        object-fit: contain;
        width: 90%;
        height: 90%;
        margin: auto;
        
    }


    .productCard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        margin: 10px;
        padding: 12px;
        min-width: 250px;
        border-radius: 6px;
    }

    .btn-primary{
        background-color: #002964;
    }

    .precioCard{
        margin-top: 5px;
        color: black;
        font-size: 26px;
        font-weight: 500;

    }

    .categoriaCard{
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        outline: auto;
        outline-color: #797979;

    }

.price{
    font-size: 24px;
    font-weight: bold;
    color: #002964;
}