

.header {
    background-color: #faf4dc;
    
    .header__container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        
                
        .header__logo {
            width: 120px;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .navbar__link {
                font-size: 24px;
                cursor: pointer;
                font-weight: 700;
                color: #002964;
                margin: 0;
                text-decoration: none;
                &:hover {
                    color:red;
                }
            }
        }
    }

    .user {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #002964;
        padding: 20px;
    }
}